/* Complete the challenge by writing CSS below */
body{
    text-align: center;
}

header{
    background-color: orange;
    color: white;
}

p{
    color: lightslategrey;
}

div{
    background-color: lightblue;
}