/* Complete the challenge by writing CSS below */
.primary-content {
    padding-top: 25px;
    padding-bottom: 95px;
}

.wildlife {
    border-top: 10px solid orange;
    margin-top: 105px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
}