/* Complete the challenge by writing CSS below */

.content-lodging {
    float: right;
}

/* Clearfix ---------------------------------- */

.group:after {
    content: "";
    display: table;
    clear: both;
  }